.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: auto;
  display: flex;
  gap: 20px;
}
form input {
  /* flex-basis: 100%; */
  width: 650px;
  margin: auto;
  height: 35px;
  border: 1px solid green;
}
button {
  /* flex-basis: 40%; */
  width: 80px;
  border: 1px solid black;
  height: 35px;
  text-transform: none;
  background-color: black;
  color: antiquewhite;
}
.title {
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
}
.outerDiv {
  width: 1170;
  margin: auto;
  /* text-align: center;
  justify-content: center; */
  margin-top: 50px;
}
.outerDiv ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.outerDiv ul li {
  color: white;
  padding: 7px;
  font-size: 15px;
  margin-bottom: 20px;
  position: relative;
  text-align: left;
  background-color: black;
}
.outerDiv ul li span {
  right: 15px;
  position: absolute;
  cursor: pointer;
  font-size: large;
}
.completeTodo {
  text-decoration: line-through;
  color: brown;
  background-color: black !important;
}
